html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: gray;
    }
    
    
    h1 {
    text-align: center;
    color: lightgreen;
    font-style: italic;
    font-weight: bold;
    }
    
    
    .form {
    border: 1px solid lightgreen;
    background-color: lightgreen;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    
    
    textarea {
    resize: none;
    }
    
    .button {
    display: inline-block;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    color: lightgreen;
    border: 1px;

    }

    .button:hover {
    background-color: white;
    color: gray;
    }